<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Cat/site.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'Cat/bootstrap-4.5.0-dist/css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'Cat/fontawesome-free-5.13.0-web/css/all.css' %}" />
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top">
        <div class="container"> <button class="navbar-toggler navbar-toggler-right border-0 p-0" type="button"
                data-toggle="collapse" data-target="#navbar14" style="">
                <p class="navbar-brand mb-0 text-white">
                    <i class="fa d-inline fa-lg fa-stop-circle"></i> BRAND </p>
            </button>
            <div class="collapse navbar-collapse" id="navbar14">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"> <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="{% url 'about' %}">About</a> </li>
                </ul>
                <p class="d-none d-md-block lead mb-0  text-white" contenteditable="true"> <i
                        class="fa d-inline fa-lg fa-bath"></i> <b> CAT AUTOMATIC SYSTEM</b> </p>
                <ul class="navbar-nav ml-auto">
                </ul>
            </div>
        </div>
    </nav>
    <div class="body-content">
        {% block content %}
        {% endblock %}
        <hr />
        <footer>
            <p>© 2018</p>
        </footer>
    </div>
    <link rel="stylesheet" type="text/css" href="{% static 'Cat/fontawesome-free-5.13.0-web/js/all.js' %}" />
    <script src={% static 'Cat/jquery-3.5.1.min.js' %}></script>
    <script src={% static 'Cat/bootstrap-4.5.0-dist/js/bootstrap.js' %}></script>
</body>

</html>