
{% extends 'Cat/layout.html' %}

{% block content %}

  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        {% if tasks_logs %}
            {% for task,logs in tasks_logs %}
                {% if task.state == "DONE" %}
                    <div class="card text-white bg-success mb-3">
                {% elif task.state == "PENDING" %}
                    <div class="card text-white bg-info mb-3">
                {% elif task.state == "RUNNING" %}
                    <div class="card text-white bg-secondary mb-3">
                {% elif task.state == "SCRIPT_ERROR" %}
                    <div class="card text-white bg-danger mb-3">
                {% else %}
                    <div class="card text-white bg-primary mb-3">
                {% endif %}
                        <div class="card-header">{{task.id}} {{task.task}}</div>
                        <div class="card-body">
                                {% if logs %}

                                    {% for log in logs %}
                                    <h5 class="card-title">{{log.source|upper}}</h5>
                                    <p class="card-text">
                                        {{log.detail}}
                                        <br> 
                                    {% endfor %}
                                {% else %}
                                    <p class="card-text">
                                    {{task.result}}
                                {% endif %}
                                    </p>
                        </div>
                    </div>
                <hr>
            {% endfor %}
        {% endif %}

        </div>
      </div>
    </div>
  </div>


{% endblock  %}
