{% extends "lab_web/layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<p>Home page for the Visual Studio Code Django tutorial.</p>
    <h2>DashBoard</h2>

    {% if uut_list %}
        <table class="uut_list">
            <thead>
            <tr>
                <th>platform</th>
                <th>sn</th>
                <th>status</th>
                <th>currenttask</th>
                <th>os</th>
                <th>image</th>
                <th>bios</th>
                <th>wlan_module</th>
                <th>wlan_driver</th>
                <th>bt_module</th>
                <th>bt_driver</th>
                <th>wwan_module</th>
                <th>wwan_driver</th>
                <th>gnss_module</th>
                <th>gnss_driver</th>
                <th>nic_module</th>
                <th>nic_driver</th>
                <th>nfc_module</th>
                <th>nfc_driver</th>
                <th>rfid_module</th>
                <th>rfid_driver</th>
                <th>lastusedtime</th>
                <th>tag</th>
                <th>wwan_firmware</th>
                <th>wwan_modem</th>
            </tr>
            </thead>
            <tbody>
            {% for uut in uut_list %}
                <tr>
                    <td>{{ uut.platform}}</td>
                    <td>{{ uut.sn}}</td>
                    <td>{{ uut.status }}</td>
                    <td>{{ uut.currenttask }}</td>
                    <td>{{ uut.os }}</td>
                    <td>{{ uut.image }}</td>
                    <td>{{ uut.bios }}</td>
                    <td>{{ uut.wlan_module }}</td>
                    <td>{{ uut.wlan_driver }}</td>
                    <td>{{ uut.bt_module }}</td>
                    <td>{{ uut.bt_driver }}</td>
                    <td>{{ uut.wwan_module }}</td>
                    <td>{{ uut.wwan_driver }}</td>
                    <td>{{ uut.gnss_module }}</td>
                    <td>{{ uut.gnss_driver }}</td>
                    <td>{{ uut.nic_module }}</td>
                    <td>{{ uut.nic_driver }}</td>
                    <td>{{ uut.nfc_module }}</td>
                    <td>{{ uut.nfc_driver }}</td>
                    <td>{{ uut.rfid_module }}</td>
                    <td>{{ uut.rfid_driver }}</td>
                    <td>{{ uut.lastusedtime }}</td>
                    <td>{{ uut.tag }}</td>
                    <td>{{ uut.wwan_firmware }}</td>
                    <td>{{ uut.wwan_modem }}</td>
                    
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
            <p>No messages have been logged.</p>
    {% endif %}
{% endblock %}